/* common css starts here */
*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box ;
    list-style: none ;
    text-decoration: none ;
}
/* common css ensds here */
/* navbar css starts here */
nav {
  background-color: rgba(22, 12, 109, 0.5)
}
nav .nav-link  {
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 600;
    padding: 0px !important;
   color: rgba(239, 244, 250,1) !important;
   transition: .5s;
}
nav .nav-link:hover {
  color: rgba(27, 191, 0,1) !important;
  
}
nav ul{
  column-gap: 42px;
}
nav .nav-button  {
  text-decoration: none  !important;
  padding: 14px 28px;
  color: rgba(255, 255, 255,1);
  background-color:rgba(27, 191, 0,1) ;
  border-radius: 100px;
    font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 600;
   display: inline-block;
   transition: .5s;
   border: 1px solid transparent;
}
nav .nav-button:hover {
  color: white;
  background-color: #160C6D;
  border: 1px solid rgba(22, 12, 109, 0.5) ;
}
/* navbar css ends here */
.banner {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-top: 146px;
  padding-bottom: 254px; */
  background-image: linear-gradient(rgba(107, 98, 197,0.90), rgba(107, 98, 197,0.90)), url(../Images/banner.png);
  z-index: 2;
  position: relative;
}
.banner h1 {
  font-family: "Open Sans", sans-serif;
   font-size: 84px;
   font-weight: 700;
    width: 1061px;
   color: rgba(250, 250, 254,1); 
  padding-top: 146px;
  margin: 0 auto;
}
.banner p {
  font-family: "Open Sans", sans-serif;
   font-size: 24px;
   font-weight: 400;
   color: rgba(230, 229, 243,1);
   width: 651px;
   margin: 0 auto;
   text-align: center;
}
.banner .common-button a { 
  padding: 20px 40px;
    font-family: "Open Sans", sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: rgba(255, 255, 255,1);
   
   display: inline-block;
   border-radius: 100px;
   text-decoration: none;
   transition: .5s;
   border: 1px solid transparent;
   

}
.banner .common-button a:nth-child(1) {
  color: white;
  background-color: rgba(27, 191, 0,1); 
  margin-right: 28px;
}
.banner .common-button a:nth-child(1):hover{
  
 background-color: rgba(22, 12, 109, 0.5);
  border: 1px soldi rgba(22, 12, 109,1);
}
.banner .common-button a:nth-child(2) {
  color:rgba(249, 249, 249,1) ;
  background-color: rgba(22, 12, 109, 0.5)


}
.banner .common-button a:nth-child(2):hover {
  border: 1px solid rgba(27, 191, 0,1);
  background-color:rgba(27, 191, 0,1) ;
  color: rgba(22, 12, 109,1);
}
.banner .common-button {
  padding-left: 449px;
  padding-bottom: 254px;
  padding-top: 20px;
}
/* background-color: rgba(22, 12, 109, 0.5) */
/* banner css ends here */
.images .container .box .image-1 {
  position: relative;
}
.images {
  padding-bottom: 40px;
}
.images .container .box .image-1 img {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}
.images .container .box .image-2 {
  position: relative; }
.images .container .box .image-2 img {
  position: absolute;
  top: -177px;
  left: 312px;
  z-index: 1;
}
.images .container .box .image-3 {
  position: relative;
 } 
.images .container .box .image-3 img {
  position: absolute;
  top: -87px;
  left: 564px;
  z-index: 1;
}
.images .container .box .image-4 {
  position: relative;
 }
 .images .container .box .image-4 img {
  position: absolute;
  top: -175px;
  left: 954px;
  z-index: 1;
} 
.state-box {
  /* position: relative; */
  margin-top: 470px;
  border-right: 2px solid #4F585F;
}
.images {
  background: url(../Images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   z-index: 3;
   
   height: auto;
   padding-left:424px ;
   padding-right:479px;
}
.state-box h2 {
    font-family: "Open Sans", sans-serif;
   font-size: 64px;
   font-weight: 800;
   color: rgba(27, 191, 0,1)
}
.state-box p {
    font-family: "Open Sans", sans-serif;
   font-size: 36px;
   font-weight: 700;
   color:rgba(20, 17, 53,1) ;
}

.row .col-lg-3:nth-child(4) .state-box {
  border: none;
}

/* images css ends here */
/* choose us css starts here */
.choose {
  background: url(../Images/choose.png);
  background-position: center;
  background-position: center;
  background-size: cover;
}
.choose p{
    font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: rgba(114, 110, 158,1);
}
.box-card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 28px;

  height: auto;
  transition: .5s;
  padding-top: 42px;
  padding-left: 28px;
  padding-bottom: 42px;
  padding-right: 146px;
  margin-top: 32px;
 
}
.box-card:hover {
   box-shadow: 0px 10px 10px green;
}
.choose h3 {
    font-family: "Open Sans", sans-serif;
   font-size: 48px;
   font-weight: 700;
   color: rgba(20, 17, 53,1);
   padding-top: 100px;


}
.choose p{
      font-family: "Open Sans", sans-serif;
      font-size:18px ;
      font-weight: 400;
      color: rgba(114, 110, 158,1);
      width: 363px;
   text-align: start;
   padding: 10px;
   padding-bottom: 42px;
     
       

}
.choose .contact-button{
  padding: 20px 40px;
  display: inline-block;
  border: 1px solid transparent;
   font-family: "Open Sans", sans-serif;
   font-size: 24px;
   font-weight: 700;
   color: rgbA(249, 249, 249,1);
   border-radius: 100px;
   background-color: rgba(27, 191, 0,1);
   color: rgba(249, 249, 249,1);
   text-decoration: none !important;
   transition: .5s;

}
.choose .contact-button:hover {
  background-color: rgba(22, 12, 109,1);
  color: rgba(27, 191, 0,1;)
  border: 1px solid rgba(22, 12, 109,1) ;
}
/* choose css ends here */
/* who css starts here */
.what {
  background-color: rgba(246, 245, 255,1);
  padding-top: 50px;
}
.what .container h2 {
  font-family: "Open Sans", sans-serif;
   font-size: 48px;
   font-weight: 700;
   color: rgba(20, 17, 53,1);
   margin-top: 100px;
}
.what .container p {
    font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: rgba(108, 125, 147,1);
   padding-top: 20px;
   padding-bottom: 56px;
}
.what .container .what-button {
  padding: 20px 40px;
  display: inline-block;
  transition: .5s;
  background-color: rgba(27, 191, 0,1);
  color: rgba(255, 255, 255,1);
  font-family: "Open Sans", sans-serif;
   font-size: 20px;
   font-weight: 700;
   border-radius: 100px;
   text-decoration: none !important;
   border: 1px solid transparent;

}
.what .container .what-button:hover {
    border: 1px solid rgba(22, 12, 109,1);
  color: white;
  background-color: rgba(22, 12, 109,1);
}
.card {
  margin-top: 20px;
}
.what .card-img-top{
  width: 64px;
  margin: 0 auto;
}
.what .card .card-body {
  padding: 0px !important;
}
.what .card {
  width: 100%;
  padding-top: 48px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 49px;
  border: none !important;
  
}
.what .card .btn {
  padding: 20px 40px;
  background-color: transparent;
  display: inline-block;
  border: 1px solid transparent;
  transition: .5s;
  font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: rgba(20, 17, 53,1);
   border-radius: 100px;
   margin-left: 60px;
}
.what .card .btn:hover {
  background-color: rgba(27, 191, 0,1);
  border: 1px solid rgba(27, 191, 0,1);
  color: white;
   
}
.what .card .card-title {
  font-family: "Open Sans", sans-serif !important;
   font-size: 30px !important;
   font-weight: 700 !important;
  
   color: rgba(20, 17, 53,1) !important;
   padding-bottom: 16px;
   padding-top: 32px;
   width: 240px;
   margin: 0 auto;
}
.what .card .card-text{
  font-family: "Open Sans", sans-serif !important;
   font-size: 18px !important;
   font-weight: 400 !important;
   color: rgba(114, 110, 158,1);
   width: 297px;
   margin: 0 auto;
  
}